#today{
    border: solid;
}

.input-group, .input-group-append{
    padding: 5px;
    display: block;
    /* display: block; */
    
}
 #search-button, .weather-search{
    width:100%;
} 

#search-button, button{
    padding: 5px;
    margin-top: 10px;
}

#search-button{
    background-color: aquamarine;
}

.card{
    margin: 5px;
    width: 200px;
    padding: 5px;   
}

h2, p {
    padding:15px;
}