#today{
    border: solid;
}

.input-group, .input-group-append{
    padding: 5px;
    display: block;
}

#search-button, button{
    padding: 5px;
}

#search-button{
    background-color: aquamarine;
}

.card{
    margin: 5px;
    width: 200px;
    padding: 5px;
    
}